.weatherCard{
  border: 1px solid #000;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  /*background-color: white;*/
  color: #04112D;
  backdrop-filter: blur(5px);
  background-color: rgba(161, 177, 253, 1);
}

.weatherCard__title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
}

.weatherCard__place{
  margin-bottom: 0;
  font-weight: 700;
  margin: 0 auto;
}

.weatherCard__place i {
  margin-right: 10px;
}

.weatherCard__img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin:0 auto;
}

.weatherCard__img i {
  font-size: 140px;
  color:#FCEDA2;
}

.weatherCard__temp {
  font-size: 30px;
  margin: 5px 0;
  font-weight: 100;
}

.weatherCard__temp i {
  margin-right: 10px;
  color: #FCEDA2;
}

.weatherCard__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.weatherCard__list li i {
  margin-right: 10px;
  font-size: 26px;
  color:  #FCEDA2;
}

.weatherCard__list span {
  display:flex;
  align-items: center;
  justify-content: center;
}

.weatherCard__description{
  color: #090324;
  font-size: 20px;
  font-weight: 400;
  margin: 15px 0
}

.weatherCard__list span {
  font-weight: bold;
}

.weatherCard__btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  border: solid 1px #8c7cac;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #C0A2FC;
  /*color: white;*/
  cursor: pointer;
  transition: transform 300ms ease;
}

.weatherCard__btn:hover{
  transform: scale(1.03);
}

.search-locations{
  margin: 15px 0;
}

.search-locations form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
}

.search-locations button {
  border: solid 1px #8c7cac;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #C0A2FC;
  cursor: pointer;
}

.search-locations input {
  min-width: 200px;
  margin-left: 10px;
  height: 35px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  
}

.search__results{
  padding: 10px 0;
}

.search__results article{
  display: flex;
  justify-content: center;
  border-bottom: dashed 1px black;
}
