.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px;
  background-color: white;
}

.bg-forecast {
  background-position: center;
  background-size: cover;
}

.bg-forecast.Thunderstorm{
  background-image: url('./assets/Thunderstorm.jpg');
}

.bg-forecast.Drizzle{
  background-image: url('./assets/Drizzle.jpg');
}

.bg-forecast.Rain{
  background-image: url('./assets/Rain.jpg');
}
.bg-forecast.Snow{
  background-image: url('./assets/Snow.jpg');
}
.bg-forecast.Mist, .bg-forecast.Smoke, .bg-forecast.Haze, .bg-forecast.Dust, .bg-forecast.Fog, .bg-forecast.Sand, .bg-forecast.Dust, .bg-forecast.Ash, .bg-forecast.Squall, .bg-forecast.Tornado
{
  background-image: url('./assets/Fog.jpg');
}
.bg-forecast.Clear{
  background-image: url('./assets/Clear.jpg');
}
.bg-forecast.Clouds{
  background-image: url('./assets/Clouds.jpg');
}